.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    height: 800px;
    justify-content:center;/*works around main axia*/
    
align-items: center;/*works around cross axis*/
flex-wrap: wrap;
gap: 5px;
}

.box{
    height:100px;
    width:100px;
    
}
.first{
    background-color: orange;
    flex-grow: 1;
}
.second{
    background-color: green;
    flex-grow: 2;
    flex-shrink: 4;
}
.third{
    background-color: red;
}
.fourth{
    background-color:greenyellow;
    flex-basis: 200px;
    align-self: flex-start;

}     