*{

margin:0%
    padding:0%;
    box-sizing:border-box;
    color:white;
}
body{
    background-color: black;
}
.container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color:pink;
    gap:10px;
    height: 500px;
    width:500px;
    display: grid;
    grid-template-rows:200px 200px;
    grid-template-columns:200px 200px;
}
.first{
    background-color: red;
}
.second{
    background-color: blue;
}
.third{
    background-color: yellow;
}
.fourth{
    background-color: green;
}