* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100px;
  width: 100px;
  background-color: rgb(186, 10, 10);
  border-radius: 50%;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  position: absolute;

  
  animation: orbit 6s linear infinite;
}

@keyframes orbit {
  0%   { transform: rotate(0deg) translateX(200px) rotate(0deg); }
  25%  { transform: rotate(90deg) translateX(200px) rotate(-90deg); }
  50%  { transform: rotate(180deg) translateX(200px) rotate(-180deg); }
  75%  { transform: rotate(270deg) translateX(200px) rotate(-270deg); }
  100% { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}
